.scriptConfig table {
    width: 100%;
}
.scriptConfig td {
    padding-bottom: 5px;
}
.scriptConfig input[type='text'] {
    width: 100%;
}
.codeAreaContent .code {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto
}
