.scriptConfig .description {
    margin-bottom: 20px;
}
.scriptConfig table {
    width: 100%;
}
.scriptConfig td {
    padding-bottom: 5px;
}
.scriptConfig input[type='text'],
.scriptConfig textarea {
    width: 100%;
}
.codeAreaContent .code {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto
}
.results {
    max-height: 400px;
    overflow-y: auto
}
.results .log.error {
    color: red;
}
.results .log.warn {
    color: DarkOrange;
}
.results .log.debug {
    color: CadetBlue;
    font-style: italic;
}
.results .stacktrace {
    color: lightgrey;
}
