.scriptConfig .description {
    margin-bottom: 20px;
}
.scriptConfig table {
    width: 100%;
}
.scriptConfig td {
    padding-bottom: 5px;
}
.scriptConfig input[type='text'],
.scriptConfig textarea {
    width: 100%;
}
.codeAreaContent .code {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto
}
.results {
    max-height: 500px;
    overflow-y: auto
}
